@import 'mixins/border-radius';
@import 'mixins/state';
@import 'mixins/transform';
@import 'mixins/reset';

@mixin avatar($diameter: 50px) {
  width          : $diameter;
  height         : $diameter;
  border-radius  : 50%;
  margin-right   : 5px;
  background-size: cover;
}
