// Color
$color-transparent: transparent !default;

$color-black-border    : #2C2D30 !default;
$color-black           : #000000 !default;
$color-black-text      : #555555 !default;
$color-black-text-light: #abb8c4 !default;

$color-gray-admin: #e8ecef !default;
$color-gray-dark : #dedede !default;
$color-gray      : #e3e3e3 !default;
$color-gray-light: #F8F8F8 !default;

$color-white: #ffffff !default;

$color-blue-dark: #328fe6 !default;
$color-blue     : #32c5e6 !default;


$color-primary-darker: darken($color-white, 20%) !default;
$color-primary-dark  : darken($color-white, 10%) !default;
$color-primary       : $color-white !default;
$color-primary-light : $color-white !default;

$color-primary-text      : #2C2D30 !default;
$color-primary-text-dark : darken($color-primary-text, 20%) !default;
$color-primary-text-light: lighten($color-primary-text, 10%) !default;
$color-primary-deep      : $color-primary-text-dark;

$color-green-online: #00C853 !default;

$color-red: #DC5960 !default;

$color-chat-border: #e0e2e5 !default;
$color-chat-select: #f8f9fa !default;

