.ambisie-sendbird-messenger {
  @import 'mixins';
  @import 'variables';
  @import 'icons';

  .chat-message {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 8px;
    border: 1px solid transparent;

    & > .message-content {
      display: flex;

      & > .message-avatar {
        @include avatar;
        margin-right: 15px;
      }

      & > .message-body {
        display       : flex;
        flex-direction: column;

        & > .message-nickname {
          align-items    : center;
          display        : inline;
          justify-content: flex-start;
          flex-direction : column;
          font-weight    : 600;
          color          : $color-primary-deep;
          cursor         : initial;
        }

        & > .message-content {
          white-space: pre-line;
        }

        & > .message-content.is-file {
          cursor: pointer;
          @include hover-focus {
            color: $color-blue-dark;
          }
        }

        & > .image-content {
          display   : block;
          margin-top: 8px;
          cursor    : pointer;

          & > .image-render {
            display: inline;
            max-width: 300px;
            max-height: 300px;
          }
        }

        & > .message-footer {
          display    : flex;
          align-items: flex-end;

          & > .time {
            font-size  : 0.78rem;
          }

          & > .time.is-user {
            cursor: pointer;
          }

          & > .read {
            font-size: 0.78rem;
            margin-left: 5px;
            opacity: 1
          }
          & > .read.active {
            opacity: 0.5
          }
        }
      }

    }

    & > .message-admin {
      display: flex;
      align-items: center;
      width: 100%;
      font-style: italic;
      color: $color-black-text;
    }
  }
}
